@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary:#8e70ac98;
  --color-secundary:#50579198;
  --boton-padding: 20px 40px;
}



body{
    font-family: 'Raleway', sans-serif;
   
 
    
}
.container{
  width: 90%;
  margin: 0 auto ;
  
  overflow: hidden ;
  padding:80px 0; 
  max-width: 1200px;



}
.subtitle{
  color: var(--color-primary);
  font-size: 2,5rem;
  margin-bottom: 35px;

}
.hero{
  height: 100vh;
  background-image: var(--background), url('../Imagenes/realistic-football-net-isolated-white-background-vector-illustration_34230-618.webp Image\ 2022-03-11\ at\ 3.50.34\ PM.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;


}
.hero .container{
  padding: 80;
}
.hero__container{
  display: flex;
  height: calc(100ch - 70px);
  align-items: center;
  color: #fff;
}
.hero__text{
  width: 80%;
  margin-bottom: 50px;

}
.herro__title{
  font-size: 3.2rem;

}
.hero__subtitle{
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0;


}
.hero__cta{
  display: inline-block;
  background: #fff;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 40px;

}
.hero__wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}
/*about*/
.presentation{
   text-align: center;
}
.presentation__copy{
  width: 80%;
  margin: 0 auto;
}
.presentation__cta{
 display: inline-block;
 margin-top: 30px;
 background: var(--color-primary);
 color:#fff;
 text-decoration: none;
 padding: var(--boton-padding);
 border-radius: 40px;
}
.about{
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;


}
.about__img{
  text-align: center;

}
.about__img--left{
  text-align: left;

}
.about__picture{
  max-width: 90%;

}
section{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  
}